body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}
header a:hover {
    color: #00bcd4;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

html, body {
    height: 100%; /* Asegura que el documento ocupe toda la altura del viewport */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1; /* Este contenedor se expande para ocupar todo el espacio disponible */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 50px;

}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
}

.social-links li a:hover {
    color: #00bcd4;
}

body{
    background-image: url('imagen de fondo.jpeg');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }
}
